.container {
	display: flex;
	flex-direction: column;
	padding: 5px;
	border: 3px solid goldenrod;
	box-shadow: 0 0 20px -1px goldenrod;
	border-radius: 10px;
	background-color: white;
}

.image {
	object-fit: none;
	height: 300px;
	width: 200px;
}

.name {
	text-align: center;
	font-family: "";
	color: goldenrod;
}
