.sins {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 400px;

	background-color: darkred;
	border: 3px solid goldenrod;
	border-radius: 5px;
	box-shadow: 0 0 15px 0px goldenrod;
}

.subsins {
	margin: 10px;
	display: flex;
}
